@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("/assets/css/header.css");
@import url("/assets/css/step-section.css");
@import url("/assets/css/slider.css");
@import url("/assets/css/footer.css");

:root {
  --white-clr: #f1f1f1;
  --black-clr: #333;
  --blue-clr: #0984e3;
  --blue-cls: #2cccff;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#page {
  position: relative;
  width: 100%;
}
